html {
    margin: 0;
    padding: 0;
    background-color: rgb(216,235,248);
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* menu en haut de la page */
nav {
    color: rgb(224,224,224);
    vertical-align: middle;
    background-color: rgb(61,121,167);
	position: relative;
	z-index:100;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

nav>ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

/* element du menu */
.categorie {
    display: table-cell;
    float: left;
    padding: 0 16px;
    margin: 0;
    border-left: 1px solid rgb(110,164,203);
    border-right: 1px solid rgb(110,164,203);
}

.categorie:first-of-type {
    border-left: none;
}

.categorie:last-of-type {
    border-right: none;
}

.categorie:hover {
    color: #0B1720;
    background-color: rgb(110,164,203);
}

.categorie>img {
    max-width: 48px;
    max-height: 48px;
}

/* pour ne pas avoir de transition d'un .menu-categorie a un autre */
nav>ul:hover .menu-categorie{
    opacity: 1;
}

/* menu deroulant, cache par defaut */
.menu-categorie {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    -webkit-transition: 0.375s ease opacity;
    -moz-transition: 0.375s ease opacity;
    -o-transition: 0.375s ease opacity;
}

/* menu deroulant affiche */
.categorie:hover>.menu-categorie {
    visibility: visible;
    opacity: 1;
    top: auto;
}

/* liste d'applications dans le menu deroulant */
.menu-categorie>ul {
    display: table;
    margin: 0 auto;
    padding: 0.5em;
    background-color:rgb(110,164,203);
}

/* element final du menu */
.application {
    vertical-align: top;
    display: inline-block;
    position: relative;
    height: 150px;
    width: 150px;
    margin: 0.5em;
    border-left: 5px;
    padding: 1em;
    background-color: rgb(85,142,185);
}

nav h2 {
    font-size:inherit;
}

/* icones */
.application>img {
    max-width: 48px;
    max-height: 48px;
}


.application>.titre {
    text-align: right;
    position: absolute;
    right: 1em;
    top: 0;
    font-weight: bold;
    max-width: 80px;
}

.application>.description {
    font-size: 14px;
}

.application:hover {
    top: -2px;
    box-shadow: 0 2px 1px rgb(61,121,167);
}

#remonter {
    position: fixed;
    visibility: hidden;
    top: -1em;
    right: 1em;
    background-color: rgba(61,121,167,0.75);
    border: 1px solid rgb(61,121,167);
    border-radius: 0 0 4px 4px;
    border-top: none;
    -webkit-transition: 0.375s ease top;
    -moz-transition: 0.375s ease top;
    -o-transition: 0.375s ease top;
}

#remonter>img {
    display: block;
    margin: 0.25em 0.5em;
}